body{font:normal 12px arial;}
button{border:1px solid #cdcdcd}

#right-panel{width:20%; float:right}
#left-panel{float:left; width:70%;}
#ActiveChat{}

#buddies{height:250px; overflow:auto}
#buddies .buddy{background:#cdcdcd; padding:5px; margin-bottom: 1px}
#buddies .online{border-left:5px solid green}
#buddies .offline{border-left:5px solid red}

#tabs{list-style:none; margin: 0; padding: 0}
#tabs .tab{display: inline; padding: 0px; cursor: pointer; margin-right: 5px}
#tabs .tab span{padding: 10px; display: inline-block; background: #333; color:#fff; border-radius: 5px 5px 0px 0px}
#tabs .tabselected span{background:#cdcdcd; color:#000}

#txtMessage{width:100%; border:1px solid #cdcdcd}

#notification{border:1px solid #cdcdcd; width:250px; position: absolute; right:5px; bottom:5px; padding:10px; min-height: 50px; background: #fff; border-radius:5px; display: none}
.chat-message{border:1px solid #eeeeee; background:#cdcdcd; padding:5px}

#notifications{height:200px; border:1px solid; overflow:auto}
#notifications div{padding:5px}