<html>
    <head>
        <script type="text/javascript" src="js/jquery.min.js"></script>
        <script type="text/javascript" src="js/angular.min.js"></script>
        <script type="text/javascript" src="js/xmpp-client.js"></script>        
        <link rel="stylesheet" href="css/style.css"/>
    </head>
    <body ng-app="chat">
        <div id="wrapper" ng-controller="Chat">
            <div id="left-panel">
                <div id="ActiveChat" ng-if="activeChats.length>0">
                    <ul id="tabs">
                        <li ng-repeat="chat in activeChats" ng-class="{true:'tab tabselected', false:'tab'}[chat.isSelected==1]" ng-click="tabOnClick(chat.jid)"><span>{{chat.name}}</span></li>
                    </ul>
                    <div id="result" style="border:0px solid; height:200px; background:#cdcdcd; overflow:auto">
                        <div class='chat-message' ng-repeat="chat in chats" title="{{chat.time}}">{{chat.name}}: {{chat.message}} <span ng-if="chat.status.length>0">[{{chat.status}}]</span></div>
                    </div>
                    <input id="txtMessage" type="text" name="txtMessage" onkeydown="txtMessageOnKeyListener(event)"/>                         
                </div>
            </div>
            <div id="right-panel">
                <div id="buddies">
                    <div class='buddy' ng-class="{true:'online', false: 'offline'}[buddy.status=='available']" ng-repeat="buddy in buddies" ng-click="talkTo(buddy.jid)" title="{{buddy.jid}}">{{buddy.name}} [{{buddy.subscription}}] {{buddy.state}}</div>
                </div>
                <fieldset style="width:100%; margin:5px; padding:0; border:0px; border-top:1px solid">
                    <legend>Add Roster Entry</legend>
                    <input type="text" id="txtJid" name="txtJid" placeholder="JID"/>
                    <input type="text" id="txtName" name="txtName" placeholder="Name of user"/>
                    <input type="text" id="txtGroup" name="txtGroup" placeholder="Group Name"/>
                    <button name="btnAddRosterEntry" onclick="makeRosterEntry()">Add Roster Entry</button>
                    <button name="btnGetRosterEntries" onclick="getRosterEntries()">Get Roster</button>
                </fieldset>
                <div id="notifications"></div>     
            </div>
            <div id="notification">Some notification text</div>
        </div>
        <script type="text/javascript" src="js/main.js"></script>
        
    </body>
</html>